:root {
  --near-black: #555;
  --theme: #f8f;
}

body {
  font-family: sans-serif;
  color: black;
}

button {
  border-radius: 0.25rem;
  border: 4px solid var(--near-black);
  padding: 0.5rem;
  background-color: var(--theme);
  color: #fff;
  cursor: pointer;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  filter: brightness(90%);
}

button:disabled {
  filter: brightness(100%);
  cursor: default;
  background-color: #888;
}

input {
  border: none;
  border-radius: 0.25rem;
  background-color: #eee;
}

.app {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: start;
}
