.mgpDisplay {
  display: inline-block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0.1rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 0.25rem;
  color: #ffffde;
  background-image: linear-gradient(45deg, #866a2e, #deb65a, #c0a54f);
}
